body {
  height: 1000vh;
}

.progress {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
}

.progress .bar {
  width: 0;
  height: 3px;
  background-color: mediumspringgreen;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}
