section {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.progress {
  background-color: gray;
  width: 5px;
  height: 20%;
  position: fixed;
  top: 40%;
  left: 1rem;
  border-radius: 1rem;
}

.progress .bar {
  width: 5px;
  height: 0;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
