.wrap__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  z-index: 100;
  background: #000;
  text-align: center;
  /* overflow: hidden; */
}

.wrap__text h1 {
  color: #fff;
  /* 처음 시작 시 애니메이션 */
  transform: translate(0, -200%);
  transition: all 0.3s ease-out;
}

.wrap__text h1.active {
  transform: translate(0, 0);
}
